@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  user-select: none;
  position: relative;
}

img {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: .85rem;
  font-weight: 300;
  letter-spacing: .1rem;
}

.loaded #loader {
  visibility: hidden;
  animation: fadeout .3s linear;
}

@keyframes fadeout {
  0% {
    opacity: 1;
    visibility: visible;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}